NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=https://drbjrcrwrmbqtbocdpix.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRyYmpyY3J3cm1icXRib2NkcGl4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwOTY3MzksImV4cCI6MjA5MTY3MjczOX0.Ir3baXAOy-YQYqB4QkIjLHUW7E6hOjs1CzES-6rCH_o
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRyYmpyY3J3cm1icXRib2NkcGl4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjA5NjczOSwiZXhwIjoyMDkxNjcyNzM5fQ.Ogag0CygFcztPMG1Fz12PZ8mOCQmhp9t2uB3plUrwUs
OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4.1-mini